:root {
    --zm-user: #69757D;
    --zm-dark: #000000;
    --zm-footer: #222222;
    --zm-light-footer: #4A4A4A;
    --zm-end: #DC261C;
    --zm-share: #4BC800;
}

body {
    font-family: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: black;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* #region MAIN */
#site_main {
    padding-bottom: 4rem;
}

.gallery {
    padding-top: 3rem;
}

.user {
    width: calc(100% / 7);
    padding: 0.25rem 0.1rem;
}

.user > .img {
    position: relative;
}

.name {
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    background-color: #69757dab;
}

.user_name, .name i {
    color: white;
    font-size: 10px;
    padding: 0.2rem 0;
}


.speaker_view, .maximize {
    background-color: var(--zm-light-footer) ;
    position: absolute;
    color: white;
    font-size: 10px;
    padding: 0.25rem;
    margin: 0.2rem 0.5rem;
    border-radius: 0.25rem;
}

.speaker_view {
    top: 0;
    right: 1.5rem;
}

.maximize {
    top:0 ;
    right: 0;
}
/* #endregion MAIN */

/* #region FOOTER */
#site_footer { 
    background-color: var(--zm-footer);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
}



/* #endregion FOOTER */